body {
  color: red;
}

.top {
  height: 120vh;
  background-color: antiquewhite;
}

.card1 {
  width: 400px;
  height: 400px;
  background-color: red;
}

.card2 {
  margin-top: 5rem;
  width: 400px;
  height: 400px;
  background-color: blue;
}
